.smallcard
{
    width: 267px;
    height: 143px;
    margin-top: 147px;
    border-radius: 1px;
    box-shadow: 1px 5px 10px grey;
    // padding: 100px 0 0;
}

.cards{
    padding-left: 80px;
    padding-right: 80px
}