
.divClass{
    display: flex;
    flex-flow: row wrap;
    align-items: flex start;
    margin-left: 15%;
    margin-top: 3%;
    }
    
    .mat-card {
    background-color: white;
    /* left: 30%; */
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px #cec9c9;
    min-width: 260px;
    margin-right: 2%;
    max-width: 25%;
    /* top: 20px; */
    margin-bottom: 1%;
    word-break: break-all;
    height: fit-content;
    }
    .textBrk{
        word-break: break-all;
        padding: 9px;
    }
    .icons{
        visibility: hidden;
        opacity: 0;
    }
    .mat-card :hover .icons{
        visibility: visible;
        opacity: 1;
    }

    .mat-card1 {
        background-color: white;
        /* left: 30%; */
        border-radius: 8px;
        box-shadow: 1px 1px 1px 1px #cec9c9;
        min-width: 764px;
        margin-right: 13%;
        max-width: 184%;
        margin-bottom: 1%;
        word-break: break-all;
        margin-left: 54px;
        }
        .mat-card1 :hover .icons{
            visibility: visible;
            opacity: 1;
        }

        .divClass1{
            display: flex;
            flex-flow: row wrap;
            align-items: flex start;
            margin-left: 15%;
            margin-top: 3%;
            }
            .picc{
                img {max-width:100%;}
              }





















            //  .material-icons{
            //      margin-bottom: 10%;
            //  }



            //

            // .masonryholder{
            //     column-count: 4;
            //     column-gap: 20px;
            //     max-width: 1600px;
            //     margin: 0 auto;
            //     }
            
            //   .masonryblocks{
            //     display: inline-block;
            //     background: #ebeded;
            //     padding: 20px;
            //     margin: 0 0 15px;
            //     width: 100%;
            //     box-sizing: border-box;
            //     }
            
            //   .masonryblocks img{
            //     width: 100%;
            //     }
            
            //   @media screen and (max-width:768px){
            //     .masonryholder{
            //       column-count: 1;
            //     }
            //     }
            
            //   @media screen and (min-width:769px){
            //     .masonryholder{
            //       column-count: 2;
            //     }
            //     }
            
            //   @media screen and (min-width:1080px){
            //     .masonryholder{
            //       column-count: 3;
            //     }
            //     }
            
            //   @media screen and (min-width:1200px){
            //     .masonryholder{
            //       column-count: 4;
            //     }
            //     }
              

              
           