.color{
    color:gray;
  }
  .card{
    align-content: center;
    justify-content: center;
    margin-top: 1rem;
    
  }
  .text{
    box-decoration-break: unset;
  }
  .input{  
    border:0;
    outline:0;
    // font-size: 1rem;
    text-decoration-color: black;
    outline: none;
    text-decoration-style: none;
  
  }
  .textarea{
    outline: none;
    font-size: 14px;
  }
  .close{
    justify-content: end;
    font-size: 1rem;
  }
  .icon{
  height: 20;
  width: 20;
  } 
    
  ::ng-deep .element.style {
    place-content: baseline;
  }