
<div class="resetPassword-page">
        <mat-card class="mat-elevation-z12">
                <mat-card-title style="text-align:center;">
                        <div class="funooColor">
                          <span class="F">F</span>
                          <span class="U">u</span>
                          <span class="N">n</span>
                          <span class="D">d</span>
                          <span class="O">o</span>
                          <span class="OO">o</span>
                        </div>
                      </mat-card-title>
                  
                      <mat-card-title style="text-align:center;">Register</mat-card-title>
    
            <mat-card-content>
                <form action="">
    <!-- sdssd -->
                
    
    <mat-form-field appearance="outline">
        <input matInput placeholder="Password" type="password" required minlength="6" name="password"
        [formControl]="password">
        <mat-error *ngIf="password.errors && password.errors.required">Password is required </mat-error>
        <mat-error *ngIf="password.errors && password.errors.minlength"> Password must be of length 6
        </mat-error>
        <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <input matInput placeholder="Password" type="password" required minlength="6" name="password"
        [formControl]="password">
        <mat-error *ngIf="password.errors && password.errors.required">Password is required </mat-error>
        <mat-error *ngIf="password.errors && password.errors.minlength"> Password must be of length 6
        </mat-error>
        <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

                    <button mat-raised-button color="primary" class="login-button">Reset Password</button>

                </form>
            </mat-card-content>
        </mat-card>
    </div>