<!-- <div class="divClass">

    <mat-card class="mat-card">
      <div >
        <div class="textBrk">
           <input matInput type="text" value="{{onenote.title}}" [(ngModel)]="onenote.title"  #title>
        </div>

        <div class="textBrk">
            <input matInput type="text" value="{{onenote.description}}" [(ngModel)]="onenote.description" #description>
        </div>
      <div>
          <button type="submit" (click)="save(onenote._id,title.value,description.value)">save</button>
       
      </div>
    </div>
        <mat-card-actions>
        
        </mat-card-actions>
    </mat-card>
</div> -->




<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" >
    <mat-card class="secondcard">
        <div>
            <input class="title" type="text" value="{{onenote.title}}" [(ngModel)]="onenote.title"  #title>
        </div>
        <div style="margin-top:13px;">
            <input class="title" type="text" type="text" value="{{onenote.description}}" [(ngModel)]="onenote.description" #description>
        
                <button mat-raised-button type="submit" class="btnClose" (click)="save(onenote._id,title.value,description.value)">close </button>
             
        </div>
        <mat-card-actions>
        
        </mat-card-actions>
    </mat-card> 

</div>