<div fxLayout="column" fxLayoutAlign="center center" fxFlex="100">

  <mat-toolbar class=" tool" color="WHITE" fxLayout="row">

    <div class="app-icon" fxLayout="row" fxLayoutAlign="start start" fxLayoutAlign="space-around center" fxFlex="15"
      fxFlex.xs="25">
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
        <mat-icon>menu</mat-icon>
      </button>

      <div class="img-icon" fxLayoutAlign="start center">
        <img class="img" src="../../assets/fundooLogo.png">
        <span fxHide.xs="true">{{titlename}}</span>
        <span style="margin-left:1%;margin-top:4%;" *ngIf="titlename== null" fxHide.xs="true">Fundoo Notes</span>
      </div>
    </div>


    <div fxLayout="row" fxLayoutAlign="center center" fxFlex.xs="70" fxFlex="70" class="search">
      <!-- <form class="search"> -->
      <button mat-icon-button fxHide.xs="true">
        <mat-icon>search</mat-icon>
      </button>
      <input matTooltip="Search" placeholder="Search" class="input" [(ngModel)]="search" (keyup)="lookup()">
      <!-- </form> -->
    </div>

    <div id="refresh" fxLayout="row">
      <button mat-icon-button>
        <mat-icon>refresh</mat-icon>
      </button>
    </div>


    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="20" fxLayoutGap="30px">
      <button mat-icon-button fxHide.xs="true">
        <mat-icon fxFlex="10" (click)="setGridAndListView()">icon</mat-icon>
      </button>
    </div>


    <div fxFlex="14" fxShow fxHide.xs fxShow fxHide.xs>
      <button mat-icon-button style="margin-top:10px;margin-left: 100px; outline: none;" class="materialicons"
        *ngIf=!list (click)=View() matTooltip="List view" fxShow="true">
        <i class="material-icons">view_stream</i>
      </button>
      <button fxShow fxHide.xs fxShow fxHide.xs mat-icon-button
        style="margin-top:10px;margin-left: 100px; outline: none;" *ngIf=list (click)=View() matTooltip="Grid view"
        fxShow="true">
        <i class="material-icons">view_module</i>
      </button>
    </div>

    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <img mat-card-avatar src="{{ profilePicUser }}" class="profile1" />
        

      </button>                                                                                                 

      <mat-menu #menu="matMenu">
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
          <mat-card style="overflow: hidden">
            <div class="image-container" style="padding-top: 50%;">
              <img class="topic-avatar" mat-card-avatar src="{{ profilePicUser }}" (profilePic)="changeProfilePic()"
                (click)="openSetProfileDialog()">
            </div>
            <input type="file" (change)="onFileSelected($event)">
            <button mat-button (click)="uploadPic()">upload</button>
           
              <div class="name">{{fname | uppercase}}</div>
              <div class="email">{{email}}</div>

          </mat-card>                                                                     
        </div>
        <mat-divider></mat-divider>

        <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-around  center">
          <button mat-raised-button (click)="logout()">Sign out</button>
        </div>
      </mat-menu>
    </div>


    


  </mat-toolbar>


  <div class="sidenav">
    <mat-divider></mat-divider>

    <mat-sidenav-container style="height:100vh;">
      <mat-sidenav #sidenav style="width: 240px;" mode="side">
        <mat-nav-list>
          <div class="mat_divider" fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="20px">

            <div>
              <button mat-button (click)="notes()">
                <!-- <img src="../../../assets/images/notes.svg"> -->
                <i class="material-icons">emoji_objects</i>
                Notes
              </button>
            </div>

            <div>
              <button mat-button (click)="reminder()">

                <img src="../../assets/notification.svg">
                reminders
              </button>
            </div>
          </div>


          <mat-divider></mat-divider>

          <div class="mat_divider" fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="20px">

            <div id="label_name">LABELS</div>
            <div *ngFor="let label of data">
              <span class="labels1">{{label.name}}</span>
            </div>

            <div>
              <button mat-button (click)="openDialog()">
                <img src="../../assets/edit-24px.svg">
                create labels
              </button>
            </div>
          </div>

          <mat-divider></mat-divider>

          <div class="mat_divider" fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="20px">
            <div>
              <button mat-button (click)="getArchiveNote()">
                <!-- <img src="../..//assets/unarchive.svg">
                archive -->
                <mat-icon>archive</mat-icon> Archive
              </button>
            </div>
            <div>
              <button mat-button (click)="trash()">
                <img src="../../assets/delete-24px.svg">
                trash
              </button>
            </div>
          </div>

        </mat-nav-list>
      </mat-sidenav>

      <!-- <mat-sidenav-content> -->
        <!-- <app-createnote></app-createnote> -->
        <router-outlet></router-outlet>

      <!-- <img height="42" width="42" [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"> <br/>
<input type='file' (change)="onSelectFile($event)"> -->
      <!-- </mat-sidenav-content> -->
    </mat-sidenav-container>
    

  </div>

</div>