.tool
{
    box-shadow: 0px 7px 15px grey;
    color:"WHITE";
}
.img
{
    margin-top: 4%;
    width: 40px;
    margin-left: 7%; 
}
.sidenav
{
    height: 100vh;
    width: 100%;
 
}
#label_name{

    color: gray;
    margin-left: 30px;
    padding-top: 5px;
}
.mat_divider{
    border-top: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
      
}
#refresh{
    margin-left: 12px;
}

.search
{
    background-color: rgba(230, 227, 227, 0.856); 
     padding: 3px;   
     width: 78%; 
     border-radius: 8px; 
     margin-left: 57px;
     
   
}
.input
{
    width: 88%; 
        font-size: 16px;
         border: none !important;
         background-color: rgba(230, 227, 227, 0.856); 
}
.mat-drawer-backdrop.mat-drawer-shown {
    visibility: hidden !important;
}   
.labels1{
    margin-left: 17px;
    } 

input.input:focus {
    outline-width: 0;
}
// .imgdiv
// {
//     width:;
// } 

.image-container {
    position: relative;
    left:25%;
    
   
  }
  .topic-avatar {
    width: 90px;
    height: 90px;
    align-self: center;
    margin-top: -116px;
    margin-left: -2px;
    
  }
  .name{
     
      text-align: center;
      padding-top: 9px;
      font-size: x-large;
      font-family: inherit;
      padding-top: 1px;
  }


  


