<div className="root">
  <MuiThemeProvider theme={theme}>
    <AppBar>
      <Toolbar>
        <div className="Icon">
          <div>
            <IconButton className="menuButton" onClick={this.openDrawer}>
              <MenuIcon />
            </IconButton>
          </div>
          <div>
            <img src={require('../assets/keep.jpeg')} style={{ width: '30px', height: '30px' }} />
          </div>
          <div style={{ color: "black", cursor: "pointer" }}>
            <Typography className="title" variant="h6">
              Archive </Typography>
          </div>
        </div>
        <div className="searchAndIcon">
          <div className="search">
            <div>
              <SearchIcon style={{ color: "black" }} />
            </div>
            <div>
              <InputBase placeholder="Search…" />
            </div>
          </div>
          <div className="sectionDesktop">
            <div>
              <IconButton>
                <Refresh onClick={this.handleReload} />
              </IconButton>
            </div>
            <div>
              <IconButton>
                <ViewAgenda />
              </IconButton>
            </div>
            <div>
              <IconButton>
                <SettingsIcon />
              </IconButton>
            </div>
          </div>
        </div>
        <div>
          <IconButton aria-haspopup="true" onClick={this.handleProfileMenuOpen}>
            <AccountCircle style={{ color: "black" }} />
          </IconButton>
        </div>
      </Toolbar>
    </AppBar>
  </MuiThemeProvider>
</div>