<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="card" *ngIf='!card' (click)="createNote()">
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="120px">
            <div style="width:400px">
                <input class="input" type="text" fxLayoutAlign="start center" matInput placeholder="Take a note..">
            </div>

            <div fxLayout="row" style="width:200px">

                
                <button mat-icon-button fxLayout="row">
                    <mat-icon matTooltip="New list">assignment_turned_in</mat-icon>
                </button>
              
                <button mat-icon-button fxLayout="row">
                    <mat-icon matTooltip="New with drawing">brush</mat-icon>
                </button> 
                <button mat-icon-button fxLayout="row">
                    <mat-icon matTooltip="New note with images">images</mat-icon>
                </button>
            </div>

        </div>
    </mat-card>
</div>


<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" >
    <mat-card [style.backgroundcolor]="setColor" class="secondcard" *ngIf='card'>
        <div>
            <input class="title" type="text" placeholder="Tittle....." [formControl]="title">
        </div>
        <div style="margin-top:13px;">
            <input class="title" type="text" maxlength="50" placeholder="Take a note...." [formControl]="description">
            <div fxLayoutAlign="space-between center" class="cardheight">
                <app-icons></app-icons>
              
                <button mat-button (click)="createNote()">close</button>
              </div>
        </div>
        

     
          
     

    </mat-card>

</div>