.card{
    margin-top: 4%;
    width: 46%;
    padding: 5px;
    padding-left: 5px;
    border-radius: 4px;
    box-shadow: 0px 4px 12px rgb(184, 181, 181);
}

.secondcard{
    margin-top: 0.5%;
    width: 46%;
    padding: 5px;
    padding-left: 5px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgb(184, 181, 181);
}



.input{
    margin-top: 10px;
    width: 50%;
    height: 23px;
    font-size: large;
    outline: none;
    border: none;
    white-space: initial;
    width: 125px;
    word-wrap: break-word;
    padding-left: 9px;
}

.input2
 {
    margin-top: 10%;
    width: 125px;
    word-wrap: break-word;
 }

.title{
 
        margin-top: 10px;
        height: 25px;
        font-size: large;
        outline: none;
        border: none;
        border-radius: 8px;
        background-color: transparent;
        width: 350px;
        word-wrap: break-word;
        padding-left: 9px;

}
.cardheight
{
    height: 61px;
    padding-top: 57px;
    margin-top: 3px
   

}