<div class="login-page">
	<mat-card class="mat-elevation-z12">
			<mat-card-title style="text-align:center;">
					<div class="funooColor">
					  <span class="F">F</span>
					  <span class="U">u</span>
					  <span class="N">n</span>
					  <span class="D">d</span>
					  <span class="O">o</span>
					  <span class="OO">o</span>
					</div>
				  </mat-card-title>
			  
				  <mat-card-title style="text-align:center;">Login</mat-card-title>

		<mat-card-content>
			<form action="">
				<mat-form-field appearance="outline">
					<input matInput placeholder="Email" required name="email" [formControl]="email" style="align-items: center">
					<mat-error *ngIf="email.invalid">Email is required</mat-error>
					<mat-icon matSuffix>email</mat-icon>
				</mat-form-field>

				<mat-form-field appearance="outline">
					<input matInput placeholder="Password" type="password" required minlength="6" name="password"
					[formControl]="password">
					<mat-error *ngIf="password.errors && password.errors.required">Password is required </mat-error>
					<mat-error *ngIf="password.errors && password.errors.minlength"> Password must be of length 6
					</mat-error>
					<mat-icon matSuffix>lock</mat-icon>
				</mat-form-field>
				

				<div class="forgotPassword">
				<a href="http://localhost:4200/forgotPassword">ForgotPassword</a>
			</div>

				<div class="panel-footer-row">
					<div class="col-xs-6 text-left">
						<div class="previous">
							<a href="http://localhost:4200/register">Do not account?Sign In</a>
						 
						</div>
					</div>
					<div class="col-xs-6 text-right">   
						<div class="next">
							<button mat-raised-button color="primary" class="login-button" (click)="login()">Sign Up</button>
						</div>
					</div>
				</div> 

			</form>
		</mat-card-content>
	</mat-card>
</div>