<div fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button (click)="dialogCol()">
        <img style="width:20px; height: 20px;" src="../../assets/collaborator.svg" matTooltip="colaborator" 
        (click)="dialogCol()">
    </button>


    <button mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="colorlist">
        <img style="width: 12px;height: 12px;" src="../../../assets/color.svg" style="margin-left: 16px;">
    </button>

    <mat-menu #colorlist="matMenu" [overlapTrigger]="false">
        <ng-template matMenuContent>
            <div>
                <div fxLayout="row" fxLayoutGap="1px" style="margin-top: 1px" *ngFor="let colors of arrayOfColors">
                    <div *ngFor="let color of colors">
                        <button [ngStyle]="{ 'background-color': color.color }" (click)="setColor(notesicon._id,(color.color))"
                            matTooltip="{{ color.name }}" mat-mini-fab></button>
                     
                    </div>
                </div>
            </div>
        </ng-template>
    </mat-menu>

   


    <button mat-icon-button>
        <img style="width: 20px;height: 20px;" src="../../assets/image-24px.svg" matTooltip="Add image">
    </button>

    <button class="archive" mat-icon-button>
        <mat-icon style="width: 18px;height: 18px;" class="img" (click)="archiveNote(notesicon)" matTooltip="unArchive">
            archive</mat-icon>
    </button>


    <button mat-icon-button>
        <mat-icon style="width: 18px;height: 18px;" matTooltip="more" mat-button [matMenuTriggerFor]="menu2">more_vert
        </mat-icon>

        <mat-menu #menu2="matMenu" xPosition="after" class="remind">
            <button mat-menu-item style="margin-top: -9%" (click)="DeleteNote(notesicon)">Delete</button>
            <button mat-menu-item style="margin-top: -9%" (click)="DeleteNoteP()">Delete permenently</button>

            <button mat-menu-item style="margin-top: -9%">Add lebel</button>
        </mat-menu>
    </button>
</div>